body {
  text-align: center;
  font-family: arial,sans;
  background-color: #fff
}

p {
  display: none;
  font-size: 1.25em;
}

input {
  width: 90%;
  height: 100%;
  border: 0;
  outline: none;
  background-color: #0000;
}

.h, .l {
  background: #efefef;
}

td, th {
  border: 1px solid #bbb;
  text-align: center;
  height: 30px;
  min-width: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  display: none
}

#check {
  display: none
}

button {
  width: 45%;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
  background-color: #ddd;
}

button:hover {
  background-color: #ccc;
}
